* { margin: 0; padding: 0; text-align: center;  }

html { font-size: 18px; font-family: 'Lato', sans-serif;   line-height: 1.6; color: #333;}

h1 { 
  text-transform: uppercase; 
  font-size: 2rem; 
  line-height: 1em; 
  font-weight: 900; 
  z-index: 1;
}

p, blockquote, li {
  margin: 2rem auto;
  max-width:  800px;
  text-align:  left;
}

li { padding-left: 3rem; list-style-position: inside; margin: 0 auto; }

blockquote {
  font-style: italic;
  color:  #666;
}

#overlay {
  position: absolute;
  top: 5rem;
  left: 0; right: 0;
  text-align: center;
}

#space { 
  top: 0;
  margin: 0; 
  background: #FFF; 
  z-index: 0;
}

#info {
  margin: 5rem 0;
}

.center {
  text-align: center;
}

footer { 
  margin: 100px 1rem;
  color: #666; 
  font-size: 0.8em; 
}

footer a { color: #333; }
